{% extends 'base.html.twig' %}

{% block title %}Fiche employé{% endblock %}

{% block body %}
<h1 class="text-center text-info text-decoration-underline mt-2">Fiche détaillée</h1>
<div class="container d-flex justify-content-center">
<div class="card mx-3 my-3 shadow p-3 mb-5 bg-body rounded col-4">
					<img src="{{asset ('/uploads/pictures/' ~ user.picture)}}" height="450" class="card-img-top mt-3" alt="{{user.firstname}}">
					<div class="card-body">
						<h5 class="card-title fs-2 text-center mb-3">
							{{user.firstname}}
							{{user.name}}</h5>
						<ul>
							<li class="fs-4">Email :
								{{user.email}}</li>
							<li class="fs-4">Secteur :
								{{user.division}}</li>
							<li class="fs-4">Type de contrat :
								{{user.contract}}</li>
							<li class="fs-4">Fin de contrat :
								{{ user.endDate ? user.endDate|date('d-m-Y') : '' }}</li>
						</ul>
					</div>
    <a href="{{ path('app_user_index') }}" class="btn btn-outline-success fs-4">Retour à la liste des employés</a>
</div>
{% endblock %}
